body{  font-family: 'Itim', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Unbounded', cursive; 
margin: 0%;
}

    .top{ font-size: 40px;
background-color: orange;
border: solid 10px;
margin-right: 500px;
margin-bottom: 40px;
    }

    .nicher{font-size: 30px;
        background-color: orange;
        border: solid 10px;
margin-right: 300px;
        }

    .perpul{color: rgb(255, 34, 34); }
    section{display: flex;}

    .half-width {width: 50%;
               padding-left: 5%;
    
    }

    .half-width img{
        width: 70%;
        padding-left: 200px;
        background-image: url(image/topsidebanner.png);
    }
body{background-image: linear-gradient(rgb(33, 83, 99),rgba(53, 53, 129, 0.541));}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
    color: whitesmoke;
}
.top-banner{background-image: url(image/topsidebanner.png);
background-repeat: no-repeat;



}